<h2>Titles</h2>

<h1 class="space-top">Title 1</h1>
<h2 class="space-top">Title 2</h2>
<h3 class="space-top">Title 3</h3>

<div class="space-top">&nbsp;</div>
<h2 class="space-top">Utility CSS classes</h2>
<table class="table">
    <tr>
        <td>pull-left</td>
        <td>add a float left to the current element</td>
    </tr>
    <tr>
        <td>pull-right</td>
        <td>add a float right to the current element</td>
    </tr>
    <tr>
        <td>clear</td>
        <td>add a clear both to the current element</td>
    </tr>
    <tr>
        <td>block-content</td>
        <td>add a padding</td>
    </tr>
    <tr>
        <td>space-top, space-bottom, space-left, space-right</td>
        <td>For adding paddings</td>
    </tr>
    <tr>
        <td>pointer</td>
        <td>add a cursor pointer to the current element</td>
    </tr>
</table>

<h2 class="space-top">Tables</h2>
<p>You can add a color to table's header by using one of these classes : table-one, table-two et table-three.</p>
