<h1>PMSIpilot UI</h1>

<p>PMSIpilot UI is a themable UI library based on Bootstrap. It's the the base UI library in all PMSIpilot/PSIH applications.</p>

<h3 class="space-top">Using the library in your project</h3>

<p>Install with npm</p>
<pre>npm install pmsipilot-ui --save</pre>

<p>In your main.scss, import the library sass file</p>
<pre>
@import 'node_modules/pmsipilot-ui/scss/bootstrap';
</pre>

<p>Customize your UI Theme</p>
<pre>
body {
    @include theme-colored(@themeColorOne, @themeColorTwo, @themeColorThree);
}
</pre>

<p><strong>Build</strong></p>
<ul>
    <li>The output css should be in the css public folder</li>
    <li>Copy images from the library to the images public folder</li>
    <li>Copy fonts from the library, bootstrap and from font-awesome the publid font folder</li>
</ul>
