
<h2>PMSIpilot logos</h2>

<p>PMSIpilot/PSIH logos are available in <strong>three sizes</strong>.</p>

<section>
    <article class="clearfix">
        <h3>256x256px</h3>

        <div class="logo-psih large"></div>
        <pre style="float: right; width: 65%" data-pm-prettify="'partials/code/logos/256.html'" class="lang-html"></pre>
    </article>

    <article class="clearfix">
        <h3>64x64px</h3>

        <div class="logo-psih medium"></div>
        <pre style="float: right; width: 65%" data-pm-prettify="'partials/code/logos/64.html'" class="lang-html"></pre>
    </article>

    <article class="clearfix">
        <h3>16x16px</h3>

        <div class="logo-psih small"></div>
        <pre style="float: right; width: 65%" data-pm-prettify="'partials/code/logos/16.html'" class="lang-html"></pre>
    </article>
</section>
