<div class="pull-right block-content-small space-top-small"><h2>Navigation</h2></div>
<div class="clear"></div>
<ul class="vertical-tabs right">
    <li><a href="#/layouts" ng-class="{ active : isCurrent('layouts') }">Layouts</a></li>
    <li><a href="#/logos" ng-class="{ active : isCurrent('logos') }">Logos</a></li>
    <li><a href="#/buttons" ng-class="{ active : isCurrent('buttons') }">Buttons</a></li>
    <li><a href="#/icons" ng-class="{ active : isCurrent('icons') }">Icons</a></li>
    <li><a href="#/css" ng-class="{ active : isCurrent('css') }">Base CSS</a></li>
    <li><a href="#/themes" ng-class="{ active : isCurrent('themes') }">Themes</a></li>
    <li><a href="#/popups" ng-class="{ active : isCurrent('popups') }">Modals</a></li>
</ul>
