<h2>Pagination</h2>
<table class="table space-top-small">
    <tr>
        <td>
            <pagination
                class="pagination-one"
                total-items="totalItems"
                ng-model="currentPage"
            >
            </pagination>
        </td>
        <td>
            <pre data-pm-prettify="'partials/code/pagination/pagination1.html'" class="lang-html"></pre>
        </td>
    </tr>
    <tr>
        <td>
            <pagination
                    class="pagination-two"
                    total-items="totalItems"
                    ng-model="currentPage"
                    >
            </pagination>
        </td>
        <td>
            <pre data-pm-prettify="'partials/code/pagination/pagination2.html'" class="lang-html"></pre>
        </td>
    </tr>
    <tr>
        <td>
            <pagination
                    class="pagination-three"
                    total-items="totalItems"
                    ng-model="currentPage"
                    >
            </pagination>
        </td>
        <td>
            <pre data-pm-prettify="'partials/code/pagination/pagination3.html'" class="lang-html"></pre>
        </td>
    </tr>
</table>
