body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  color: $base-text-color;
  line-height: $line-height-base;
  font-weight: $base-font-weight;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: $bold-font-weight;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: square;
  list-style-position: inside;
}

ul.tree li {
  padding-left: 10px;
}

a {
  color: #000;
  text-decoration: none;

  &:hover, &.active {
    text-decoration: underline;
  }
}

p {
  margin: 0;
  margin-bottom: 10px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.rounded {
  @include border-radius($line-height-base);
}

.no-margin {
  margin: 0 !important;
}

.space-top {
  margin-top: 30px;
}

.space-top-small {
  margin-top: 10px;
}

.space-bottom {
  margin-bottom: 30px;
}

.space-bottom-small {
  margin-bottom: 10px;
}

.space-left {
  margin-left: 30px;
}

.space-left-small {
  margin-left: 10px;
}

.space-right {
  margin-right: 30px;
}

.space-right-small {
  margin-right: 10px;
}

.clear {
  clear: both;
}

.pointer {
  cursor: pointer;
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 1.1em;
}

.block, pre {
  display: block;
  padding: 20px;
  background: #f5f5f5;
  border: none;
}

.block-content {
  padding: 20px;
}

.block-content-small {
  padding: 10px 20px;
}

.close {
  opacity: 0.5;
}
