@mixin logo {
  &.small {
    height: 16px;
    margin-right: 4px;
    width: 16px;
  }

  &.medium {
    height: 40px;
    margin-right: 10px;
    width: 40px;
  }

  &.large {
    height: 256px;
    margin-right: 10px;
    width: 256px;
  }
}

.logo-pmsipilot {
  display: block;
  float: left;
  overflow: hidden;
  text-indent: -1000px;
  width: 40px;
  height: 40px;
  margin-right: 10px;

  &.small {
    background: url("../images/logo-pmsipilot-small.png");
  }

  &.medium {
    background: url("../images/logo-pmsipilot.png");
  }

  &.large {
    background: url("../images/logo-pmsipilot-large.png");
  }

  @include logo;
  background: url("../images/logo-pmsipilot.png");
}

.logo-psih {
  display: block;
  float: left;
  overflow: hidden;
  text-indent: -1000px;
  height: 40px;
  margin-right: 10px;
  width: 40px;

  &.small {
    background: url("../images/logo-psih-small.png");
  }

  &.medium {
    background: url("../images/logo-psih.png");
  }

  &.large {
    background: url("../images/logo-psih-large.png");
  }

  @include logo;
  background: url("../images/logo-psih.png");
}
