<h2>Buttons</h2>
<table class="table space-top-small">
    <tr>
        <td>
            <a class="btn">Simple button</a>
        </td>
        <td>
            <pre data-pm-prettify="'partials/code/buttons/button.html'" class="lang-html"></pre>
        </td>
    </tr>
    <tr>
        <td>
            <a class="btn btn-one">Theme button 1</a>
        </td>
        <td>
            <pre  data-pm-prettify="'partials/code/buttons/button1.html'" class="lang-html"></pre>
        </td>
    </tr>
    <tr>
        <td>
            <a class="btn btn-two">Theme button 2</a>
        </td>
        <td>
            <pre  data-pm-prettify="'partials/code/buttons/button2.html'" class="lang-html"></pre>
        </td>
    </tr>
    <tr>
        <td>
            <a class="btn btn-three">Theme button 3</a>
        </td>
        <td>
            <pre  data-pm-prettify="'partials/code/buttons/button3.html'" class="lang-html"></pre>
        </td>
    </tr>
</table>

<h2 class="space-top">Button groups</h2>

<div class="btn-group">
    <a href="" class="btn ">Button 1</a>
    <a href="" class="btn active">Button 2</a>
    <a href="" class="btn ">Button 3</a>
    <a href="" class="btn btn-icon"><i class="fa fa-plus"></i>Button 4</a>
</div>

<pre data-pm-prettify="'partials/code/buttons/button-group.html'" class="lang-html"></pre>
