<h2>Icons</h2>

<p>PMSIpilot UI rely on<a href="http://fortawesome.github.io/Font-Awesome/icons/">Font-Awesome</a> for its icones. </p>

<h3 class="space-top">Icones and buttons</h3>

<table class="table space-top-small" >
    <tr>
        <td>
            <i class="fa fa-file"></i> Simple icon
        </td>
        <td>
            <pre data-pm-prettify="'partials/code/icons/simple.html'" class="lang-html"></pre>
        </td>
    </tr>
    <tr>
        <td>
            <span class="btn btn-icon btn-three"><i class="icon fa fa-file"></i> Button</span> Button + Icon
        </td>
        <td>
            <pre data-pm-prettify="'partials/code/icons/icon-btn.html'" class="lang-html"></pre>
        </td>
    </tr>
    <tr>
        <td>
            <span class="btn btn-icon btn-three rounded"><i class="fa fa-file"></i></span> Button rounded + Icon
        </td>
        <td>
            <pre data-pm-prettify="'partials/code/icons/icon-rounded.html'" class="lang-html"></pre>
        </td>
    </tr>
    <tr>
        <td>
            <span class="btn btn-icon btn-three square"><i class="fa fa-file"></i></span> Button square + Icon
        </td>
        <td>
            <pre data-pm-prettify="'partials/code/icons/icon-square.html'" class="lang-html"></pre>
        </td>
    </tr>
</table>
