<h2>Modals</h2>
<button type="button" class="btn btn-one" ng-click="openModal('one')">Modal theme 1</button>
<button type="button" class="btn btn-two" ng-click="openModal('two')">Modal theme 2</button>
<button type="button" class="btn btn-three" ng-click="openModal('three')">Modal theme 3</button>
<button type="button" class="btn btn-success" ng-click="openModal('success')">Modal success theme</button>
<button type="button" class="btn btn-warning" ng-click="openModal('warning')">Modal warning theme</button>
<button type="button" class="btn btn-danger" ng-click="openModal('danger')">Modal danger theme</button>
